.main-content,
.main-title {
  margin-left: 20px;
}

.weather-gauge {
  height: 100px;
  width: 100%;
  background: rgb(255, 0, 0);
  background: linear-gradient(to top, red 0px, yellow 50px, green 100px);
  position: absolute;
  bottom: 0;
}

.weather-gauge-wrapper {
  border: 1px solid black;
  width: 20px;
  height: 100px;
  position: relative;
  box-sizing: border-box;
  margin-left: 20px;
}
